<ion-header>
  <ion-toolbar>
    <ion-title>Comunicacion con API: Buscador UserID</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
 
  <ion-list>
    <!--
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'user_id', item.user_id]">
 
      <ion-label text-wrap>
        <h3>USER ID={{ item.user_id }}</h3>
        <h3>Temperatura={{ item.temperatura }}</h3>
        <h3>bpm={{ item.bpm }}</h3>
        <h3>aceleracion en x={{ item.ac_x }}</h3>
        <h3>aceleracion en y={{ item.ac_y }}</h3>
        <h3>aceleracion en z={{ item.ac_z }}</h3>
      </ion-label>
 
      <ion-icon slot="end" *ngIf="item.Type == 'user_id'" name="videocam"></ion-icon>
 
    </ion-item>
      -->
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col> <div>
          <h3>userID</h3>
        </div>  </ion-col>
      <ion-col> <div>
          <h3>Temp</h3>
        </div>  </ion-col>
      <ion-col> <div>
          <h3>BPM</h3>
        </div>  </ion-col>
      <ion-col> <div>
        <h3>sO2</h3>
      </div>  </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of (results | async)" [routerLink]="['/', 'user_id', item.user_id]">
      <ion-col> <div>
          <h3>{{ item.ac_x }}</h3>
        </div>  </ion-col>
      <ion-col> <div>
          <h3>{{ item.ac_y }}</h3>
        </div>  </ion-col>
      <ion-col> <div>
          <h3>{{ item.ac_z }}</h3>
        </div>  </ion-col>
      <ion-col> <div>
          <h3>{{ item.gi_x }}</h3>
        </div>  </ion-col>
      <ion-col> <div>
          <h3>{{ item.gi_y }}</h3>
        </div>  </ion-col>
      <ion-col> <div>
          <h3>{{ item.gi_z }}</h3>
        </div>  </ion-col>
    </ion-row>
    
  </ion-grid>
 
</ion-content>
