.cell-class {
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
    background-color: rgb(184, 204, 173)
  }

  .cell-class2 {
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
    background-color: rgb(171, 189, 212)
  }