.headerTable{
    background-color: rgb(255, 208, 0);
    font-style: oblique;
}

.headerItem1{
    font-style: italic;
    text-align: center;
}

.headerItem2{
    background-color: rgb(166, 186, 187);
    font-style: italic;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
}