<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon  name="chevron-back-outline" style="zoom:2.0"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <!-- Card for adding a new event -->
  <ion-card>
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>Medical appointment</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
 
      <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" 
        [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" 
        [min]="minDate"></ion-datetime>
      </ion-item>
    
      <ion-button shape="round" padding color = "primary" fill="solid" expand="block" (click)="addEvent()" 
      [disabled]="event.title == ''">Add</ion-button>
 
    </ion-card-content>
  </ion-card>
 
  
 
  <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1">
  </calendar>
 
</ion-content>

