ion-label{
    font-family: "Montserrat-Regular" !important;
    font-size: 15px;
}
ion-datetime{
    font-family: "Montserrat-Regular" !important;
    font-size: 15px;
}
ion-input{
    font-family: "Montserrat-Regular" !important;
    font-size: 15px;
}
ion-card-title{
    font-family: "Montserrat-Bold" !important;
    font-size: 17px;
}
ion-button{
    font-family: "Montserrat-Regular" !important;
}
ion-title{
    font-family: "Montserrat-Regular" !important;
}
