
  <ion-item>
    <ion-label>Graphics</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="CHARTT" interface="popover" (ionChange)="optionsFn();">
      <ion-select-option [value]="lineChartData">Movement</ion-select-option>
      <ion-select-option [value]="GiroXChartData">Giro x</ion-select-option>
      <ion-select-option [value]="GiroYChartData">Giro y</ion-select-option>
      <ion-select-option [value]="GiroZChartData">Giro z</ion-select-option>
    </ion-select>
  </ion-item>
<div class="flex">
  <div class="flex-item">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="AJA"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>

<ion-item>
  <ion-avatar slot="start">
    <img src="assets/img/movement.svg">
  </ion-avatar>
  <ion-label>
    <h2>Last measurement</h2>
    <h3 id="dFisio">a</h3>
    <p id="fFIsio">2020-12-01</p>
  </ion-label>
</ion-item>