<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon  name="chevron-back-outline" style="zoom:2.0"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title big-heading>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!--<ion-toolbar color="primary">-->
              <ion-card-title>Calendar</ion-card-title>
            <!--</ion-toolbar>-->
          </ion-card-header>
        
          <ion-card-content>
            <img src="assets/img/calendar.png">
            <ion-button color="primary" expand="full" (click)="goCalendar()">Go</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Phy.therapy</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <img src="assets/img/physiotherapy2.png">
            <ion-button color="dark" expand="full" (click)="goDataFisio()">Go</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-card>
        <ion-card-header>
          <ion-card-title>Data</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <img src="assets/img/data.png">
          <ion-button color="success" expand="full" (click)="goData()">Go</ion-button>
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Prescriptions</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <img src="assets/img/medicine.png">
            <ion-button color="warning" expand="full" (click)="goFormula()">Go</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
